<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.multiboard.mapper.MultiMapper">
	<select id="listBoard" parameterType="String" resultType="multi">
		 select * from multi_board m join lottery_user l on (m.user_no = l.user_no) where m.mb_grade = #{mbGrade} order by 1 desc
	</select>
	
	<select id="getBoard" parameterType="int" resultType="multi">
		select * from multi_board m join lottery_user l on (m.user_no = l.user_no) where m.mb_id=#{mbId}
	</select>
	
	<insert id="addBoard" parameterType="multi">
		insert into multi_board values(mb_seq.nextval, #{userNo}, #{mbGrade}, #{mbTitle}, #{mbSubject}, sysdate, #{mbAttach}, 0)
	</insert>
	
	<delete id="removeBoard" parameterType="int">
		delete from multi_board where mb_id = #{mbId}
	</delete>
	
	<update id="modifyBoard" parameterType="multi">
		update multi_board set mb_title = #{mbTitle}, mb_subject = #{mbSubject}, mb_attach = #{mbAttach} where mb_id = #{mbId}
	</update>
	
	<update id="updateCount" parameterType="int">
		update multi_board set
		mb_hit=mb_hit+1 where mb_id=#{mbId}
	</update>
	
	<select id="multiPage"  parameterType="multi" resultType="multi">
		<![CDATA[
		select b.*
		from (select rownum rn, a.*
			from (select * from multi_board m join lottery_user l on (m.user_no = l.user_no) 
			where mb_grade = #{mbGrade}
			order by 1 desc) a
			where rownum <= #{page} * 10) b
		where b.rn > (#{page} - 1) * 10
		]]>
	</select>
	
	<select id="getCount" parameterType="String" resultType="int">
		select count(*) from multi_board where mb_grade = #{mbGrade}
	</select>
</mapper>